[submodule "thirdparty/argh"]
	path = thirdparty/argh
	url = https://github.com/adishavit/argh
[submodule "thirdparty/zstd"]
	path = thirdparty/zstd
	url = https://github.com/facebook/zstd.git
[submodule "thirdparty/Gdelta-Fork"]
	path = thirdparty/Gdelta-Fork
	url = https://github.com/WtzLAS/Gdelta-Fork
